<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lx_set.mapper.RoleMapper">
   <insert id="saveRole" parameterType="lx_set.pojo.Role">
       insert into sys_role(r_name,r_intro) values (#{name},#{introduction})
   </insert>
    <delete id="deteleRole" parameterType="lx_set.pojo.Role">
        delete from sys_role where r_id=#{id}
    </delete>
    <update id="updateRole" parameterType="lx_set.pojo.Role">
        update sys_role set r_name=#{name},r_intro=#{introduction} where r_id=#{id}
    </update>
<!--
  resultType="" :设置结果类型，即查询的数据要转换为的Java类型
  resultMap=""  ：自定义映射，处理多对一，或一对多的映射
  parameterType="lx_inter.pojo.Role"
  -->

    <resultMap id="RoleMap" type="lx_set.pojo.Role">
        <id property="id" column="r_id"/>
        <result property="name" column="r_name"/>
        <result property="introduction" column="r_intro"/>
    </resultMap>
    <select id="findAllRoles" resultMap="RoleMap" >
        select * from sys_role
    </select>


</mapper>